<!DOCTYPE html>
<html lang="en" ng-app="secondCityApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Second City</title>

    <!-- Bootstrap Core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">

    
    <!-- Custom Fonts -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <style type="text/css">
        
        .brand{
            background-color:#F5BB23!important;
        }
        .main-nav-bar{
            margin-bottom: 0;background-color:#848282;
        }
        .contract-history{
            color: white!important;
            font-size: 14px;
        }
        .contract-history:hover{
            text-decoration: underline;
        }

    </style>
 
</head>

<body ng-controller="secondCityCtrl">
<form action="php/pdf_file.php" target="_blank"
      method="post" id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form" class="validate">
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top main-nav-bar" role="navigation" >
            <div class="navbar-header brand" >
                <a class="navbar-brand" href="index.html" ><p><strong><u>Second City</u></strong> <small>Roofing & Exteriors</small></p></a>
            </div>
            <div class="navbar-header" >
                <a href="" class="navbar-brand contract-history" ng-click="onShowModal()">Contract History</a>
            </div>  
        </nav>
        <br>
        <div>
        	<!-- /.row -->
      
            <!-- /.row -->
            <div class="row">
            	<div class="col-lg-2"></div>
                <div class="col-lg-8">  

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-phone"></i> <strong>Client Information</strong>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        
                        	<div class="row">
                        		<div class="col-md-6">

									<div class="form-group">
			                            
			                            <input class="form-control"  name="to" ng-model="to" placeholder="To">
			                           
			                        </div>
			                        <div class="form-group">
			                            <input class="form-control"  name="email" ng-model="email" placeholder="Email">
			                           
			                        </div>
			                        <div class="form-group">
			                            <input class="form-control"   name="address" ng-model="address" placeholder="Address">
			                           
			                        </div>
			                        <div class="form-group">
			                            <input class="form-control"  name="work_address" ng-model="work_address" placeholder="Work Address">
			                           	
			                        </div>		


                        		</div>
                        		
                        		<div class="col-md-6">


                        			<div class="form-group">
			                            <p class="input-group">
                                          <input type="text" class="form-control"  placeholder="Date" ng-change="onchangeDate(date)" uib-datepicker-popup="{{format}}"  name="date" ng-model="date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                   
			                        </div>
			                        <div class="form-group">
			                            <input class="form-control"  name="phone1" ng-model="phone1" placeholder="Phone">
			                           
			                        </div>
			                        <div class="form-group">
			                            <input class="form-control"  name="phone2" ng-model="phone2" placeholder="Phone">
			                           
			                        </div>
			                       	


                        		</div>
                        	</div>

                       
                      

                        </div>
                        <!-- /.panel-body -->
                    </div>

                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-phone"></i> <strong>Company Information</strong>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <input class="form-control"  name="company_from" ng-model="company_from" placeholder="From">
                                       
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control"  name="company_email" ng-model="company_email" placeholder="Email">
                                       
                                    </div>
                                 
                                </div>
                                
                                <div class="col-md-6">
                                   

                                    <div class="form-group">
                                        <input class="form-control"  name="company_phone1" ng-model="company_phone1" placeholder="Phone">
                                       
                                    </div>
                                      


                                </div>
                            </div>

                       
                      

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-file-word-o"></i> <strong>Project Description</strong>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                            	<div class="row">
                            		<div class="col-lg-3"></div>
                            		<div class="col-lg-6">
                            	  	    <div class="form-group">
                            	  	    	<center>
				            	            <input class="form-control"  name="project_title" ng-model="project_title" placeholder="Title">
				                        	</center>
				                        </div>		
                            		</div>
                            		<div class="col-lg-3"></div>
                            	</div>

                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-12">
	                                <textarea class="form-control" style="height:400px;"  name="project_description" ng-model="project_description"></textarea>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-cc-mastercard"></i> <strong> Payment Option </strong>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                           

                        	<div class="row">
                        		<div class="col-md-6">

									<div class="form-group">
			                            <input class="form-control"  name="payment_agree_sum" ng-model="payment_agree_sum" placeholder="Buyer agrees to pay the sum of:">
			                        </div>
			                     
			                        
                                    <div class="form-group">
                                        <input class="form-control"  name="payment_date_contract" ng-model="payment_date_contract" placeholder="On Date of Contract">
                                    </div>

                        		</div>

                        	</div>


                        	<div class="row">
                        		<div class="col-lg-4">
                    				<div class="form-group">
		                        	    <input class="form-control"  name="payment_amount" ng-model="payment_amount" placeholder="Amount">
		                    	    </div>
			                    
                        		</div>
                        		<div class="col-lg-4">
                                    
                                    <div class="form-group">
                                        <input class="form-control"  name="payment_on" ng-model="payment_on" placeholder="on">
                                    </div>
                                    
                        		</div>
                        		<div class="col-lg-4">
                                    <div class="form-group">
                        			     <input class="form-control"  name="payment_balance" ng-model="payment_balance" placeholder="Balance">
                                    </div>
                        		</div>
                        	</div>

                        </div>
                        <!-- /.panel-body -->
                    </div>


                   

                     <div class="pull-right">

                    	<input type="submit" name="submit" ng-click="save_contract_information()" value="Generate PDF" class="btn btn-primary"></input>
                    </div>
                    <br><br>       <br><br>
                   
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-2">
                </div>
                    <!-- /.panel .chat-panel -->
            </div>
                <!-- /.col-lg-4 -->


            <!-- /.row -->
    	</div>
    	<div style="background-color:#848282;">
    		<br><br><br> 
    	</div>
    </div>	
</form> 
    


    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="bower_components/raphael/raphael-min.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="dist/js/sb-admin-2.js"></script>


    <script src="bower_components/angular/angular.min.js"></script>

  
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="bower_components/angular-ui-bootstrap-datetimepicker/datetimepicker.js"></script>

     <script src="assets/secondcity.js"></script>

    


 	

	


   
</body>

</html>



